.about-section{
  width: 100%;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-image {
 width: 300px;  
}

.about-text{
display: flex;
flex-direction: column;  
gap: 20px;
}

.about-section-pre-heading {
  color: var(--purple);
  font-size: 16px;
}

.heading{
  font-size: 36px;
  color: #111;
  margin-bottom: 20px;
  margin: 0;
}

.about-section-text-content{
  font-size: 16px;
}

.about-button{
  padding: 15px 30px;
  background-color: var(--purple);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-decoration: none;
  width: fit-content;
}

.about-button:hover{
  background-color: #c78c00; /* amarelo mais escuro e forte */
  box-shadow: 0 0 20px rgba(255, 193, 7, 0.7);
  transition: all 0.3s ease;
}


@media (min-width: 768px) {
  .about-section{
    flex-direction: row;
    max-width: 1080px;
    margin: 0 auto;
    justify-content: space-around;
  }

  .heading{
    font-size: 2.8rem;
  }
  

  .about-text{
    width: 40%;
  }

  .about-image{
    width: 50%;
  }

  .about-section-text-content{
    font-size: 1.2rem;
  }
}