.about-section {
  /* background-color:#1a1d23; */
  display: flex;
  color: #f96f1f;
  min-height: 100vh; /* A seção terá NO MÍNIMO a altura da tela */
  }
 /* O padding será incluído dentro dos 100vh */

.about-container {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  gap: 50px;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
  min-width: 280px;
}

.about-text h2 {
  font-size: 2.8rem;
  text-align: left;
  margin-bottom: 20px;
  line-height: 1.2;
  
}

.about-text p {
  font-size: 1rem;
  margin-bottom: 30px;
  line-height: 1.6;
  max-width: 500px;
}

.about-button {
  background: linear-gradient(90deg, #ff4b8b, #ff9900);
  color: #fff;
  border: none;
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Efeito ao passar o mouse */
.about-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(255, 120, 0, 0.4);
}



.about-button:hover {
  background-color: #ddd;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image img {
  width: 100%;
  max-width: 500px;
  height: 100%;
  border-radius: 8px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-image {
    display: none;
  }

  .about-text h2 {
    font-size: 2.2rem;
  }

  .about-text p {
    text-align: justify;
    max-width: 100%;
  }

  .about-button {
    margin-top: 20px;
  }
}
