.faq-section {
  background-color: white;
  color: #f96f1f;
  padding: 50px 20px;
  max-width: 100%;
  margin: 0 auto;
  font-family: "Poppins", Arial, sans-serif;
}

.faq-section h2 {
  font-size: 2.2rem;
  font-weight: 800;
  color: #f96f1f;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.faq-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #ccc;
}

.faq-item {
  border-bottom: 1px solid #ccc;
}

.faq-question {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 20px 0;
  font-size: 1.3rem;
  font-weight: 700;
  color: #555555;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s ease;
}

.faq-question:hover {
  color: #f96f1f;
}

.icon {
  font-size: 1.6rem;
  font-weight: 700;
  color: #555;
  transition: transform 0.3s ease, color 0.3s ease;
}

.faq-item.active .icon {
  color: #003399;
  transform: rotate(90deg);
  content: "-";
}

.faq-item.active .icon::before {
  content: "–";
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  font-size: 1rem;
  color: #555;
}

.faq-item.active .faq-answer {
  max-height: 200px;
  padding-bottom: 15px;
}

/* Responsividade */
@media (max-width: 768px) {
  .faq-section {
    padding: 30px 15px;
  }

  .faq-section h2 {
    font-size: 1.8rem;
  }

  .faq-question {
    font-size: 1rem;
    padding: 15px 0;
    
  }

  .icon {
    font-size: 1.3rem;
  }

  .faq-answer {
    font-size:0.95rem;
}
}           