* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Tahoma;
  background: none;
  color:white;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}


.span-grad{
  color: orange;
}

.embla {
  width: 100%;
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
