* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
  
}

body {
  font-family: Tahoma;
  background: none;
  color:white;
}


.span-grad{
  color: orange;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
